[submodule "themes/dot"]
	path = themes/dot
	url = https://github.com/themefisher/dot-hugo-documentation-theme.git

[submodule "themes/hugo-serif-theme"]
	path = themes/hugo-serif-theme
	url = https://github.com/k8s-school/hugo-serif-theme.git
[submodule "themes/hugo-up-business"]
	path = themes/hugo-up-business
	url = https://github.com/writeonlycode/hugo-up-business.git
